name: iOS CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "15.4"

      - name: Build app
        run: |
          xcodebuild \
            -scheme RiyaazPal \
            -destination 'platform=iOS Simulator,name=iPhone 15 Pro' \
            clean build

